*{
    margin: 0; // remove o espaço externo padrão
    padding: 0; // remove o preenchimento padrão
    box-sizing: border-box; // respeitar as medidas que eu especificar

}

header{
    background-color: #66BB6A;
    width: 100%; // largura w
    height: 20vh; // altura h
     h2{color: white;
    //display: block;// ocupa toda a linha (horizontal/largura) independente do tamanho do elemento
    //display: inline; //ocupa somente o espaço do elemento
    display: inline-block; // deixa na mesma linha e permite o controle de largura e alturas
    width: 50%;
     font-family: "Sansita Swashed", system-ui;
     padding-left: 500px;
     padding-top: 60px;
    }

    //padding-left: 50px; // move internamente da esquerda para direita
    //padding-top: 50px // move internamente de cima para baixo
    //padding-right: 50px; //mover internamente da direita para esquerda
    //padding-bottom: 50px; // move internamente de baixo para cima

    //margin-top: 50px; // move todo o elemento de cima para baixo
    // margin-left: 40px; // move todo o elemento da esquerda para a direita
    //margin-right: 40px; // move todo o elemento da direita para esquerda
    //margin-bottom: 40px; // move todo o elemento de baixo para cima
    
    nav{
      background-color: #66BB6A ;
        display: inline-block;
        width: 40%;
        text-align: center;

        a{
            color: #ffffff;
            margin-right: 20px;
            text-decoration: none; // tira a estilização padrão da tag <a>
        }

    }
   
}

.backgroud{
    background-image: url("/assets/background.png") ;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-top: 180px;

    h1{
        font-size: 5rem;
        margin-bottom: 20px;
        font-family: "Sansita Swashed", system-ui;
    }

    p{
        font-size: 2rem;
        width: 50%;
        margin-bottom: 20px;
        margin-left: 450px;
    }

    button{
        background-color: #66bb6A;
        color: #ffffff;
        border: none;
        padding: 15px  30px;
        border-radius: 30px;
    }

}

.cards{
    height: 61vh;
    width: 100%;
    background-color: #f1f8e9;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
    font-size: 0;
   
    
}

.card{
    background-color: #ffffff;
    border-radius: 50px ;
    width: 20vw;
    height: 50vh;   
    margin: 15px;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    display: inline-block;
    font-size: 16px;

    img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    h3{
        margin-top: 20px;
        font-size: 1.75rem;
    }

    p{
        margin-top: 20px;
    }

    button{
        margin-top: 30px;
        padding: 20px;
        background-color: #66BB6A;
        color: #ffffff;
        border: none;
        font-size: 1.25rem;
        border-radius: 20px;
    }

    }

   .formulario {
  background-color: #e8f5e9;
  text-align: center;
  padding: 40px 20px;

  h2 {
    color:#2A2A2A;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  p {
    color: #555;
    margin-bottom: 10px;
    font-size: 1rem;
    margin-left:650px;
    max-width: 500px;
  }

  form {
    display: inline-block; // deixa o formulário centralizado
  
    padding: 50px;
    text-align: left; // os textos das labels ficam alinhados
    width: 700px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #2A2A2A;
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    background-color: #f1f8e9;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #388e3c;
    }
  }

  .direitos {
    margin-top: 30px;
    font-size: 12px;
    color: #555;
  }
}

footer {
  background-color: #66bb6a; 
  color: white;              
  text-align: center;        
  padding: 15px 0;           
  font-size: 14px;                     
}